<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onCloseNavbar()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Rejestracja</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseNavbar()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Zaloguj</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onCloseNavbar()">
    <mat-icon>gavel</mat-icon>
    <span class="nav-caption">Mecz</span>
  </a>
  <mat-list-item>
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Wyloguj</span>
    </button>
  </mat-list-item>
</mat-nav-list>
