<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><strong>Liga Squasha</strong></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="25px" class="navigation-items">
      <ng-container *ngIf="!(authService.currentUser$ | async) as user">
        <li><a routerLink="/login">Zaloguj</a></li>
        <li><a routerLink="/signup">Zarejestruj</a></li>
      </ng-container>
      <ng-container *ngIf="(authService.currentUser$ | async) as  user">
        <li><a routerLink="/training">Mecz</a></li>
        <li *ngIf="isAdmin">
          <button mat-button [matMenuTriggerFor]="menu" style="font-size: 20px; padding: 0px">Administracja</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Użytkownicy</button>
            <button mat-menu-item>Wyniki</button>
            <button mat-menu-item>Rozgrywki</button>
          </mat-menu>
        </li>
        <li><a (click)="logoutUser()" *ngIf="isLogged" class="button-link">Wyloguj</a></li>
      </ng-container>
    </ul>
  </div>
</mat-toolbar>
