a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.toolbar-links-section {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

