mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.dialog {
  min-width: 400px;
}

.dialog-handset {
  min-width: 300px;
  padding-bottom: 10px;
}

