<div [ngClass]="isHandset ? 'dialog-handset' : 'dialog'">
  <h2 mat-dialog-title>Rejestracja</h2>
  <mat-dialog-content [formGroup]="signupForm">
    <mat-form-field hintLabel="Nazwa użytkownika powinna mieć conajmniej 6 znaków">
      <input
        type="text"
        matInput

        ngModel
        formControlName="username">
      <!--      <mat-error *ngIf="signupForm.get('username').hasError('required')">Nazwa użytkownika jest wymagana</mat-error>-->
      <!--      <mat-error *ngIf="signupForm.get('username').hasError('minLength')">Nazwa użytkownika powinna mieć conajmniej 6 znaków</mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input
        type="text"
        matInput
        ngModel
        formControlName="firstName"
      >
      <mat-error>Imię jest wymagane</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nazwisko"
        ngModel
        formControlName="lastName"
        required>
        <mat-error>Nazwisko jest wymagane</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        ngModel
        formControlName="email"
        email>
        <mat-error>Adres email jest nieprawidłowy</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Numer telefonu"
        ngModel
        formControlName="phoneNumber"
        required>
    </mat-form-field>
    <mat-form-field hintLabel="Hasło powinno mieć conajmniej 6 znaków">
      <input
        type="password"
        matInput
        placeholder="Hasło"
        ngModel
        formControlName="password"
        minlength="6"
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Potwierdzenie hasła"
        ngModel
        formControlName="passwordConfirm">
        <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('isMatching')">
          Hasło i potwierdzenie hasła nie są takie same</mat-error>
    </mat-form-field>
    <mat-checkbox
      label="after"
      ngModel
      formControlName="agree"
      color="primary"
    >Akceptuję <a href="assets/RegulaminLigi.pdf">regulamin ligi</a>
    </mat-checkbox>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSignup()" [disabled]="signupForm.invalid">Zarejestruj</button>
    <button mat-raised-button (click)="onClose()">Anuluj</button>
  </mat-dialog-actions>
</div>
