mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  margin: 10px;
  width: 200px;
  border-right: none;
  //background: #004a9f;
  color: white;
  /*border-radius: 10px;*/
  //padding: 16px;
  //text-align: center;
}

mat-sidenav .mat-icon {
}
mat-toolbar {
}

.background-primary {
  background-color: #3F51B5;
}

.content {
  height: calc(100vh - 130px);
  /*border-radius: 10px;*/
  margin: 10px 10px 10px 10px;
  padding: 16px;
  overflow: auto;
}
