<section class="login-wrapper">
  <h1 mat-dialog-title>Logowanie</h1>
  <mat-dialog-content>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <mat-form-field>
        <input
          matInput
          type="text"
          ngModel
          name="username"
          placeholder="Nazwa użytkownika"
          required>
        <mat-error>Podaj nazwę użytkownika</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          ngModel
          name="password"
          placeholder="Hasło"
          required>
        <mat-error>Podaj hasło</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onLogin(loginForm)" [disabled]="false">Zaloguj</button>
    <button mat-raised-button (click)="onClose()">Anuluj</button>
  </mat-dialog-actions>
</section>
