mat-form-field {
  width: 300px;
}

.login-wrapper{
  padding: 10px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.mat-form-field-appearance-fill .mat-form-field{

  background: none !important;

}
